* {
    box-sizing: border-box;
}

:root{
	--black: #000;
	--dark: #1B1B1B;
	--red: #DD0000;
	--orange: #F9C300;
	--blue: #0080F9;
	--dark-blue: #2b303b;
	--green: #19d34b;
	--purple: #b71bd6;
	--light: #F4F4F4;
	--notsolight: #e2e2e2;
	--white: #FFF;
	--blood: #f21a1a;
	--red: #ff7575;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight: lighter;
	min-width: 300px;
}

.logo{
	background: url("../Images/THE_LEMON_ICON.png") no-repeat center;
	background-size: auto 100%;
	transition: background 0.4s ease-in-out;

}
.logo:hover, .logo:focus, .logo:active{
	background: url("../Images/THE_LEMON_ICON_FOCUS.png") no-repeat center;
	background-size: auto 100%;
}
.h-header{height: 50px;}

.ml--15px{margin-left: -15px;}
.filter{
	margin-top: 15px;
	margin-right: 15px;
	position: absolute;
	transform: translate(-100%);
	width: 275px;
	transition: transform 0.4s ease-in-out;
}

#filters:checked + div{
	transform: translate(0);
}

/* COLORES BACKGROUND */
.bg-black{background: var(--black);}
.bg-dark{background: var(--dark);}
.bg-dark-t{background: rgba(0,0,0,0.6);}
.bg-dark-t2{background: rgba(0,0,0,0.7);}
.bg-red {background: var(--red);}
.bg-orange {background: var(--orange);}
.bg-blue {background: var(--blue);}
.bg-notsolight{background: var(--notsolight);}
.bg-light{background: var(--white);}
.bg-light-t{background: rgba(43,43,43,0.4);}
.bg-transparent{background: transparent;}

/* COLORES TEXTO */
.text-white {color: var(--white);}
.text-light {color: var(--light);}
.text-dark {color: var(--dark);}
.text-black {color: var(--black);}
.text-purple {color: var(--purple);}
.text-green {color: var(--green);}
.text-orange {color: var(--orange);}
.text-dark-t{color: rgba(0, 0, 0, 0.6);}
.text-orange-t{color:rgba(249, 195, 0, 0.95);}
.text-blood{color: var(--blood);}
.text-red{color: var(--red);}

/* TEXTO */
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

.elegant{font-weight: 300;}
.h1{font-size: 2em;}
.h2{font-size: 1.5em;}
.h3{font-size: 1.33em;}
.h4{font-size: 1.17em;}
.h5{font-size: 1.09em;}
.h5{font-size: 1em;}
.h6{font-size: 0.85em;}

.display-4 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

::-moz-selection {
	color: white;
    background: rgba(249, 195, 0, 0.8);
}

::selection {
	color: white;
    background: rgba(249, 195, 0, 0.8);
}

/* DISPLAY */
.d-block {display: block !important;}
.d-inline {display: inline !important;}
.d-inline-block {display: inline-block !important;}
.d-flex {display: flex !important;}
.d-initial{display: initial !important;}
.d-none{display: none !important;}

/* ALINEAMIENTO VERTICAL Y HORIZONTAL */
.align-items-start {align-items: flex-start;}
.align-items-center {align-items: center;}
.align-items-end {align-items: flex-end;}
.align-self-center {align-self: center;}

.justify-content-start {justify-content: flex-start;}
.justify-content-center {justify-content: center;}
.justify-content-end {justify-content: flex-end;}

.justify-self-center{
	margin-left: auto;
	margin-right: auto;
}
.justify-self-center{align-self: center;}

/* POSICION */
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}
.position-sticky {position: sticky;}

.l0{left: 0;}
.r0{right: 0;}
.t0{top: 0;}
.b0{bottom: 0;}

/* OVERFLOW */
.o-scroll{overflow: scroll;}
.o-hidden{overflow: hidden;}
.o-auto{overflow: auto;}
.o-visible{overflow: visible;}

/* Z-INDEX */
.z-100{z-index: 100;}
.z-1{z-index: 1;}
.z-2{z-index: 2;}
.z-3{z-index: 3;}
.z-4{z-index: 4;}
.z-5{z-index: 5;}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
	position: absolute;
    width: 12px;
    overflow: visible;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1b1b1b;

}

/* Handle */
::-webkit-scrollbar-thumb {
	box-shadow: inset 0px 0px 0 2.1px #1b1b1b;
    background: var(--light);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
}

/* FLOAT */
.float-left{float: left;}
.float-right{float: right;}

/* ANCHO Y ALTO */

.w-10 {width: 10% !important;}
.w-25 {width: 25% !important;}
.w-50 {width: 50% !important;}
.w-75 {width: 75% !important;}
.w-100 {width: 100% !important;}
.w-search {width: 100%}
.Mw-item-search{max-width: 350px;}

.Mw-20 {max-width: 20% !important;}
.Mw-100 {max-width: 100% !important;}

.h-50 {height: 50% !important;}
.h-75 {height: 75% !important;}
.h-100 {height: 100% !important;}

.mheight-50px {min-height: 50px !important;}
.height-75px {height: 75px !important;}
.height-100px {height: 100px !important;}
.height-150px {height: 150px !important;}
.height-200px {height: 200px !important;}
.height-250px {height: 250px !important;}

.h-search {min-height: 350px !important;}
.mh-200px{min-height: 200px !important;}
.mh-index{min-height: 300px !important;}
.mh-400px{min-height: 600px !important;}
.mh-100{min-height: 100% !important;}

.Mw-75{max-width: 75% !important;}
.Mw-100{max-width: 100% !important;}
.Mh-100{max-height: 100% !important;}
.Mh-90{max-height: 90% !important;}
.Mh-507px{max-height: 507px !important;}

/* PADDINGS */
.p-0 {padding: 0 !important;}
.p-1 {padding: 5px;}
.p-2 {padding: 15px;}
.p-3 {padding: 30px;}
.p-4 {padding: 40px;}
.p-5 {padding: 60px;}

.px-0 {padding-left: 0 !important; padding-right: 0 !important;}
.px-1 {padding-left: 5px; padding-right: 5px;}
.px-2 {padding-left: 15px; padding-right: 15px;}
.px-3 {padding-left: 30px; padding-right: 30px;}
.px-4 {padding-left: 40px; padding-right: 40px;}
.px-5 {padding-left: 60px; padding-right: 60px;}

.py-0 {padding-top: 0; padding-bottom: 0;}
.py-1 {padding-top: 5px; padding-bottom: 5px;}
.py-2 {padding-top: 15px; padding-bottom: 15px;}
.py-3 {padding-top: 30px; padding-bottom: 30px;}
.py-4 {padding-top: 40px; padding-bottom: 40px;}
.py-5 {padding-top: 60px; padding-bottom: 60px;}

.pl-0 {padding-left: 0 !important;}	.pr-0 {padding-right: 0;}		.pt-0 {padding-top: 0;}		.pb-0 {padding-bottom: 0;}
.pl-1 {padding-left: 5px;}	.pr-1 {padding-right: 5px;}		.pt-1 {padding-top: 5px;}	.pb-1 {padding-bottom: 5px;}
.pl-2 {padding-left: 15px;}	.pr-2 {padding-right: 15px;}	.pt-2 {padding-top: 15px;}	.pb-2 {padding-bottom: 15px;}
.pl-3 {padding-left: 30px;}	.pr-3 {padding-right: 30px;}	.pt-3 {padding-top: 30px;}	.pb-3 {padding-bottom: 30px;}
.pl-4 {padding-left: 40px;}	.pr-4 {padding-right: 40px;}	.pt-4 {padding-top: 40px;}	.pb-4 {padding-bottom: 40px;}
.pl-5 {padding-left: 60px;}	.pr-5 {padding-right: 60px;}	.pt-5 {padding-top: 60px;}	.pb-5 {padding-bottom: 60px;}

.pt-150px{padding-top: 77px;}

/* MARGINS */
.m-0 {margin: 0 !important;}
.m-1 {margin: 5px;}
.m-2 {margin: 15px;}
.m-3 {margin: 30px;}
.m-4 {margin: 40px;}
.m-5 {margin: 60px;}

.mx-0 {margin-left: 0; margin-right: 0;}
.mx-1 {margin-left: 5px; margin-right: 5px;}
.mx-2 {margin-left: 15px; margin-right: 15px;}
.mx-3 {margin-left: 30px; margin-right: 30px;}
.mx-4 {margin-left: 40px; margin-right: 40px;}
.mx-5 {margin-left: 60px; margin-right: 60px;}

.my-0 {margin-top: 0; margin-bottom: 0;}
.my-1 {margin-top: 5px; margin-bottom: 5px;}
.my-2 {margin-top: 15px; margin-bottom: 15px;}
.my-3 {margin-top: 30px; margin-bottom: 30px;}
.my-4 {margin-top: 40px; margin-bottom: 40px;}
.my-5 {margin-top: 60px; margin-bottom: 60px;}

.ml-0 {margin-left: 0;}		.mr-0 {margin-right: 0;}	.mt-0 {margin-top: 0;}		.mb-0 {margin-bottom: 0 !important;}
.ml-1 {margin-left: 5px;}	.mr-1 {margin-right: 5px;}	.mt-1 {margin-top: 5px;}	.mb-1 {margin-bottom: 5px;}
.ml-2 {margin-left: 15px;}	.mr-2 {margin-right: 15px;}	.mt-2 {margin-top: 15px;}	.mb-2 {margin-bottom: 15px;}
.ml-3 {margin-left: 30px;}	.mr-3 {margin-right: 30px;}	.mt-3 {margin-top: 30px;}	.mb-3 {margin-bottom: 30px;}
.ml-4 {margin-left: 40px;}	.mr-4 {margin-right: 40px;}	.mt-4 {margin-top: 40px;}	.mb-4 {margin-bottom: 40px;}
.ml-5 {margin-left: 60px;}	.mr-5 {margin-right: 60px;}	.mt-5 {margin-top: 60px;}	.mb-5 {margin-bottom: 60px;}

.mr-auto{margin-right: auto;}
.ml-auto{margin-left: auto;}
.m-auto{margin:auto;}

/* IMAGEN */

.background{background-image: url("../Images/header2.jpg"); background-position: center;}
.bg-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.index-img{
	opacity: 0.5;
	object-fit: cover;
	object-position: 50% 50%;
	transition: all 0.4s ease-in-out;
}
.obj-fit{object-fit: cover; object-position: 50% 50%;}
.index-img:hover, #index figure:hover .index-img {opacity: 1;}

/* ICONOS DE LOS USUARIOS + DIV CON EL NOMBRE*/
.index-button{
	height: 120px;
	width: 120px;
	transition: all 0.3s ease-in-out;
}
.index-button:hover{
	width: 180px;
	height: 180px;
}
.index-button + div{
	opacity: 0;
	margin-top: -10px;
	transition: all 0.3s ease-in-out;
}
.index-button:hover + div{
	margin-top: 10px;
	opacity: 1;
	background: rgba(0,0,0,0.5);
}

.mini-user-icon{height: 80px;width: 80px;}
.footer-logo{height: 90px;width: 90px;}
.header-logo{width: 150px;height: 150px;}
.huge-logo{width: 250px; height: 250px;}


/* MENÚ DE HAMBURGUESA MOLÓN */
header label{cursor:pointer;}

header input[type=checkbox] + label span{
  display: block;
  margin: auto;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--light);
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
/* ANIMACION */
header input[type=checkbox] + label span:nth-child(3){transform-origin: 0% 100%; margin-bottom: 0;}
header input[type=checkbox]:checked + label span{transform: rotate(45deg) translate(-2px, 0);background: var(--orange);}
header input[type=checkbox]:checked + label span:nth-child(2){opacity: 0; transform: rotate(0deg) scale(0.2, 0.2);}
header input[type=checkbox]:checked + label span:nth-child(3){transform: rotate(-45deg);}
#burger{
	display: block;
	height: 0;
	list-style-type: none;
	background: rgba(0,0,0,0.7);
	transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	text-align: center;
}

/* 86px por opcion*/
input:checked ~ #burger{height: 400px;}
#burger > a{
	display: block;
	padding: 30px;
	font-size: 1em;
	margin-right: 0;
}
#burger > div a{font-size: 1em;}


/* CONTENEDOR */
.container, .container-fluid{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container-fluid{width: 100%;}
.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-left: -15px;
	margin-right: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto{
	padding-left: 15px;
	padding-right: 15px;
}

.col-1{grid-column: span 1;}
.col-2{grid-column: span 2;}
.col-3{grid-column: span 3;}
.col-4{grid-column: span 4;}
.col-5{grid-column: span 5;}
.col-6{grid-column: span 6;}
.col-7{grid-column: span 7;}
.col-8{grid-column: span 8;}
.col-9{grid-column: span 9;}
.col-10{grid-column: span 10;}
.col-11{grid-column: span 11;}
.col-12{grid-column: span 12;}

.order-1 {order: 1;}
.order-2 {order: 2;}
.order-3 {order: 3;}
.order-4 {order: 4;}
.order-5 {order: 5;}
.order-6 {order: 6;}
.order-7 {order: 7;}
.order-8 {order: 8;}
.order-9 {order: 9;}
.order-10 {order: 10;}
.order-11 {order: 11;}
.order-12 {order: 12;}


#about .text-right, #about .text-left {text-align: justify;}
/* sm */
@media (min-width: 480px) {
	.col-sm-1{grid-column: span 1;}
	.col-sm-2{grid-column: span 2;}
	.col-sm-3{grid-column: span 3;}
	.col-sm-4{grid-column: span 4;}
	.col-sm-5{grid-column: span 5;}
	.col-sm-6{grid-column: span 6;}
	.col-sm-7{grid-column: span 7;}
	.col-sm-8{grid-column: span 8;}
	.col-sm-9{grid-column: span 9;}
	.col-sm-10{grid-column: span 10;}
	.col-sm-11{grid-column: span 11;}
	.col-sm-12{grid-column: span 12;}

	.order-sm-1 {order: 1;}
	.order-sm-2 {order: 2;}
	.order-sm-3 {order: 3;}
	.order-sm-4 {order: 4;}
	.order-sm-5 {order: 5;}
	.order-sm-6 {order: 6;}
	.order-sm-7 {order: 7;}
	.order-sm-8 {order: 8;}
	.order-sm-9 {order: 9;}
	.order-sm-10 {order: 10;}
	.order-sm-11 {order: 11;}
	.order-sm-12 {order: 12;}

	.d-sm-initial{display: initial !important;}
	.d-sm-flex{display: flex !important;}
	.d-sm-none{display: none !important;}

}

/* md */
@media (min-width: 768px) {

	.h-header{height: auto;}
	header input[type=checkbox], header input[type=checkbox] ~ span, header #menu{display: none;}
	header label{display: none !important;}

	.logo{
		background: url("../Images/THE_LEMON.png") no-repeat;
		background-position: 15% top;
		background-size: auto 90%;
		transition: background 0.4s ease-in-out;
	}
	.logo:hover, .logo:focus, .logo:active{
		background: url("../Images/THE_LEMON_FOCUS.png") no-repeat;
		background-position: 15% top;
		background-size: auto 90%;
	}
	.w-logo{min-width: 300px;}
	.pt-150px{padding-top: 150px;}
	.col-md-1{grid-column: span 1;}
	.col-md-2{grid-column: span 2;}
	.col-md-3{grid-column: span 3;}
	.col-md-4{grid-column: span 4;}
	.col-md-5{grid-column: span 5;}
	.col-md-6{grid-column: span 6;}
	.col-md-7{grid-column: span 7;}
	.col-md-8{grid-column: span 8;}
	.col-md-9{grid-column: span 9;}
	.col-md-10{grid-column: span 10;}
	.col-md-11{grid-column: span 11;}
	.col-md-12{grid-column: span 12;}

	.order-md-1 {order: 1;}
	.order-md-2 {order: 2;}
	.order-md-3 {order: 3;}
	.order-md-4 {order: 4;}
	.order-md-5 {order: 5;}
	.order-md-6 {order: 6;}
	.order-md-7 {order: 7;}
	.order-md-8 {order: 8;}
	.order-md-9 {order: 9;}
	.order-md-10 {order: 10;}
	.order-md-11 {order: 11;}
	.order-md-12 {order: 12;}

	.d-md-initial{display: initial !important;}
	.d-md-flex{display: flex !important;}
	.d-md-none{display: none !important;}
	.mh-index{min-height: 500px !important;}

	.filter{
		position: relative;
		width: 275px;
		margin-top: 0;
		transform: translate(0);
	}

	.w-md-50{width: 50% !important;}
	#burger{
		height: auto !important;
		background: none !important;
		text-align: left;
	}
	#burger > a{display: inline-block !important; font-size: 1em; padding: 20px;}
	#about .text-right{text-align: right;} #about .text-left {text-align: left;}
}

/* lg */
@media (min-width: 992px) {
	.container{width: 970px;}

	.col-lg-1{grid-column: span 1;}
	.col-lg-2{grid-column: span 2;}
	.col-lg-3{grid-column: span 3;}
	.col-lg-4{grid-column: span 4;}
	.col-lg-5{grid-column: span 5;}
	.col-lg-6{grid-column: span 6;}
	.col-lg-7{grid-column: span 7;}
	.col-lg-8{grid-column: span 8;}
	.col-lg-9{grid-column: span 9;}
	.col-lg-10{grid-column: span 10;}
	.col-lg-11{grid-column: span 11;}
	.col-lg-12{grid-column: span 12;}

	.order-lg-1 {order: 1;}
	.order-lg-2 {order: 2;}
	.order-lg-3 {order: 3;}
	.order-lg-4 {order: 4;}
	.order-lg-5 {order: 5;}
	.order-lg-6 {order: 6;}
	.order-lg-7 {order: 7;}
	.order-lg-8 {order: 8;}
	.order-lg-9 {order: 9;}
	.order-lg-10 {order: 10;}
	.order-lg-11 {order: 11;}
	.order-lg-12 {order: 12;}

	.d-lg-initial{display: initial !important;}
	.d-lg-flex{display: flex !important;}
	.d-lg-none{display: none !important;}
}

/* xl */
@media (min-width: 1200px) {
	.col-xl-1{grid-column: span 1;}
	.col-xl-2{grid-column: span 2;}
	.col-xl-3{grid-column: span 3;}
	.col-xl-4{grid-column: span 4;}
	.col-xl-5{grid-column: span 5;}
	.col-xl-6{grid-column: span 6;}
	.col-xl-7{grid-column: span 7;}
	.col-xl-8{grid-column: span 8;}
	.col-xl-9{grid-column: span 9;}
	.col-xl-10{grid-column: span 10;}
	.col-xl-11{grid-column: span 11;}
	.col-xl-12{grid-column: span 12;}

	.order-xl-1 {order: 1;}
	.order-xl-2 {order: 2;}
	.order-xl-3 {order: 3;}
	.order-xl-4 {order: 4;}
	.order-xl-5 {order: 5;}
	.order-xl-6 {order: 6;}
	.order-xl-7 {order: 7;}
	.order-xl-8 {order: 8;}
	.order-xl-9 {order: 9;}
	.order-xl-10 {order: 10;}
	.order-xl-11 {order: 11;}
	.order-xl-12 {order: 12;}

	.d-xl-initial{display: initial !important;}
	.d-xl-flex{display: flex !important;}
	.d-xl-none{display: none !important;}
	.mh-index{min-height: 800px !important;}
}

/* FORMS */
.form-control{
	width: 100%;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.8);
	outline: none;
	border: none;
	display: block;
	font-size: 1rem;
	padding: 5px 12px;
	margin-bottom: 10px;
	border-radius: 5px;
  	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:hover, .form-control:focus, .form-control:active{
	background-color: var(--light);
}
.form-control:focus {
  color: #495057;
  border: 1px solid rgba(249, 195, 0, 0.5);
  outline: 0;
  box-shadow: 0 0 0 3px rgba(249, 195, 0, 0.25);
}
.form-label{line-height: 1.5;}


/* INDEX */
#index a, .revers-a{color: var(--light);}
#index a:hover, .revers-a:hover{color: var(--orange);}
.tag{transition: all 0.5s ease-in-out;}
#index a:hover .tag{background: rgba(0,0,0,0.6); }
#index figure{
	color: white;
	font-size: 20px;
	margin: 0 !important;
}

#index nav:before {
    content: " ";
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 3;
}
#index nav:after {
    content: " ";
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1));
    z-index: 3;
}

/* SHADOW */
.shadow{text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);}
.text-shadow{text-shadow: 4px 4px 10px black,4px 4px 10px black;}
.box-shadow{box-shadow: 5px 5px 10px black;}


/* ENLACES */
.div-link{transition: all 0.5s ease-in-out;}
.div-link:hover{background: rgba(249, 195, 0, 0.6); color: var(--dark) !important;}
a{
	color: var(--orange);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}
a:hover, a:focus, a:active{color: var(--light);}


/* VARIOS */
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.4);
    margin: 1em 0;
    padding: 0;
}
.hr2 {
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    margin: 0.2em 0;
    padding: 0;
}
.circle{border-radius: 50% !important;}
.clear{clear:both;}
.pointer{cursor: pointer;}


/* BOTONES */
.btn {
  	display: inline-block;
  	text-align: center;
  	border: 1px solid transparent;
  	padding: 10px 12px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
  	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-orange {
	color: var(--orange);
	background-color: transparent;
	background-image: none;
	border-color: var(--orange);
}

.btn-outline-orange:hover, .btn-outline-orange:focus {
	color: var(--dark);
	background-color: var(--orange);
}

.btn-outline-dark {
	color:  var(--dark);
	background-color: transparent;
	border-color:  var(--dark);
}

.btn-outline-dark:hover, .btn-outline-dark:focus {
	color: var(--light);
	background-color:  var(--dark);
	border-color:  var(--dark);
}

/* BOTON BÚSQUEDA (LUPA) */
.search-btn{
	color: var(--dark);
	background: transparent;
	border: none;
	position: absolute;
	cursor: pointer;
	transition: color 0.4s ease-in-out;
}
.search-btn:hover, .search-btn:focus, .search-btn:active{
	outline: none;
	color: var(--orange);
}

.abbr {
  text-decoration: none;
}

.pop-up {transition: all .2s ease-in-out;}
.pop-up:hover {transform: scale(1.05);}

ul:focus, textarea:focus{outline: none;}
