html, body{
	margin: 0;
	padding: 0;
}

ul {
	overflow: hidden;
	margin: 0;
	background: #1b1b1b;
	list-style: none;
	padding: 0;
	text-align: center;
	/*height: 50vw;*/
}
	ul > li {
		color: #FFFFFF;
		margin-right: 2em;
		margin-left: 2em;
		display: inline-block;
	}